body {
      margin: 20px;
}

#calc {
      border: 20px solid;
      border-radius: 20px;
      border-style : solid;
      border-color : rgba(21, 11, 11, 0.2);
}

#text {
      margin: 5px;
      padding: 10px;
      text-align: right;
}

.row {
      margin: 3px;
}

.button {
      text-align: center;
}

.container {
      margin: 0px;
      padding: 0px;
}

.col-xs-3 {
      padding: 0px;
}

#display {
      margin-bottom: 10px;
      padding: 10px;
      border: 5px solid;
      border-radius: 20px;
      border-style : solid;
      border-color : black;
      text-align: right;
}
